@value tablet, desktop from "../../cssvalues/medias.css";

.grid {
  display: grid;
  gap: 20px;
}

@media tablet {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media desktop {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
