@value sizes: "../../cssvariables/media.module.css";
@value fstexts: "../../cssvariables/fstext.module.css";
@value colors: "../../cssvariables/color.module.css";
@value mobile, smartphone, tablet from sizes;
@value fstext, fstext-smartphone from fstexts;
@value color-text from colors;

.wrapper {
  margin: 0 24px;
  padding: 20px 40px;
  border: 1px solid color-text;
  border-radius: 10px;
  text-align: center;
  font-size: fstext;
  word-break: break-all;
  color: color-text;
}

@media smartphone {
  .wrapper {
    font-size: text-smartphone;
  }
}

@media tablet {
  .wrapper {
    max-width: 400px;
    margin: 0 auto;
  }
}
