@value colors: "../../cssvalues/colors.css";
@value color-text from colors;
@value fstexts: "../../cssvalues/fstexts.css";
@value fstext, fstext-smartphone from fstexts;
@value medias: "../../cssvalues/medias.css";
@value mobile, smartphone, tablet from medias;

.notify {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 20px 24px;
  padding: 20px;
  border: 1px solid color-text;
  border-radius: 10px;
  font-size: fstext;
  word-break: break-all;
  color: color-text;
}

.labelStyle {
  min-width: 30%;
  text-align: right;
}

.noteStyle {
  font-weight: 700;
  hyphens: manual;
}

@media smartphone {
  .notify {
    flex-direction: row;
    font-size: fstext-smartphone;
  }
}

@media tablet {
  .notify {
    max-width: 400px;
  }
}
