@value transition from "../../cssvalues/animations.css";
@value color-text, color-dark from "../../cssvalues/colors.css";
@value fstext, fstext-smartphone from "../../cssvalues/fstexts.css";
@value smartphone from "../../cssvalues/medias.css";
@value item from "../Item/styles.module.css";

.content {
  font-size: fstext;
  color: color-text;
  transition: transition;
}

.item:hover .content {
  color: color-dark;
}

@media smartphone {
  .content {
    font-size: fstext-smartphone;
  }
}
