@value sizes: "../../cssvariables/media.module.css";
@value fstexts: "../../cssvariables/fstext.module.css";
@value colors: "../../cssvariables/color.module.css";
@value smartphone from sizes;
@value color-dark, color-light from colors;
@value fstext, fstext-smartphone from fstexts;

.notification {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 300;
  width: 90%;
  padding: 30px 10px;
  border: 1px solid color-dark;
  border-radius: 10px;
  font-size: fstext;
  text-align: center;
  background-color: color-light;
  color: color-dark;
  opacity: 0.8;
}
@media smartphone {
  .content {
    font-size: fstext-smartphone;
  }
}
